body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 20px;
    background-color: white;
}


p{
    margin-top:10px;
    margin-bottom: 2px;
}

h1 {
    text-align: center;
    color: #333;
}

.intro {
    text-align: justify;
    margin-bottom: 20px;
}

.laptop-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.laptop-item {
    background-color: white;
}

.laptop-item img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.laptop-item h2 {
    font-size: 1.2em;
    margin-top: 0;
}

.author {
    font-size: 0.9em;
    color: #666;
}

h3 {
    font-size: 1em;
    margin-bottom: 5px;
}

ul {
    padding-left: 20px;
    margin-bottom: 15px;
}

button {
    background-color: #ffffff;
    color: rgb(99, 99, 99);
    border: 1px solid black;
    padding: 10px 15px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 25px;
}

button:hover {
    background-color: #0056b3;
}

@media (max-width: 768px) {
    .laptop-grid {
        grid-template-columns: 1fr;
    }
}

